@page "/"
@inject IJSRuntime JSRuntime

<div class="matrix-container">
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
    @for (int i = 0; i < 2; i++)
    {
        <div class="matrix-column">
            <div class="matrix-character">@((char)Random.Next(33, 127))</div>
        </div>
    }
</div>
@code {
    private Random Random = new Random();
}